* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    background-color: #a04f65;
}

nav ul {

    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 70%;
    align-items: center;
}

nav ul li {
    align-items: center;
    display: flex;
    font-size: 20px;
    color: white;
    width: 100%;
    justify-content: center;
}

nav ul li:not(:nth-last-child(1)) {
    border-right: 1px solid white;
}

header {
    width: 100%;
    background-color: #f2f0e5;
    background-size: cover;
}

img {
    width: 100%;
}

main {
    background-color: #f2f0e5;
    display: flex;
}

section#texto {
    width: 40%;
}

p {
    display: inline-block;
    text-align: start;
    margin-top: 5%;
    margin-left: 10%;
    font-size: larger;
}

section#texto h1 {
    color: #a04f65;
    text-align: start;
    display: flex;
    margin-left: 10%;
    padding-top: 5%;
}

section#imagens {
    width: 60%;
    padding: 20px;
}

.linha {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 2%;

}

.imagem img {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 3px #a04f65;

}

.imagem h3 {
    background-color: #a04f65;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
    width: 50%;
}

footer {
    background-color: #a04f65;
    padding: 20px;
}